<div class='container'>
    <div class='row'>
        <div class='col-sm-auto' class='header' [innerHtml]='title'></div>
        <img  src='..\assets\IMG_6468.jpg' class='rounded-circle frame-half col-sm-5'>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-sm desc' [innerHtml]='descriptionMain'></div>
    </div>
</div>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <br>
    <a routerLink="/heroes">Heroes</a>
    <br>
    <a routerLink="/nQueens">N Queens Problem</a>
</nav>
<router-outlet></router-outlet>
<footer><app-messages></app-messages></footer>

